#header {
  height: 88px;
  line-height: 88px;
  font-size: 36px;
  font-family: PingFang SC;
  font-weight: 500;
  color: white;
  font-size: 36px;
  font-family: PingFang SC;
  font-weight: 500;
  color: white;
  position: relative;
  border-bottom: 2px solid #5D5D5D;
}

#header img {
  width: 15px;
  height: 32px;
  background-size: 100% 100%;
  position: absolute;
  left: 30px;
  top: 28px;
}
