#header {
  height: 88px;
  line-height: 88px;
  font-size:36px;
  font-family:PingFang SC;
  font-weight:500;
  color:rgba(255,255,255,1);
  font-size:36px;
  font-family:PingFang SC;
  font-weight:500;
  color:rgba(255,255,255,1);
  position: relative;
  border-bottom: 2px solid #5D5D5D;
  clear: both;
  img {
    width: 15px;
    height: 32px;
    background-size: 100% 100%;
    position: absolute;
    left: 30px;
    top: 28px;
  }
  p {
    position: absolute;
    font-size:28px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    right: 28px;
    margin: 0;
    top: 0;
  }
}